html {
  margin: 0;
  padding: 0;
  font-family: monospace, monospace;
}

body {
  padding: 2rem 4px 8rem;
  max-width: 640px;
  margin: auto;
  font-size: 16px;
}

@media screen and (max-width: 600px)  {
  body {
    font-size: 14px;
  }
}

a {
  color: #666;
}

section {
  padding-bottom: 3rem;
}

.intro h1 {
  margin: 0;
}

.intro > img {
  float: left;
  padding-top: 5px;
}

.intro .title {
  padding-left: 80px;
}

.projects h3 {
  display: inline;
}

.articles ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.articles ul > li {
  padding-bottom: 0.5rem;
}
