html {
  margin: 0;
  padding: 0;
  font-family: monospace, monospace;
}

body {
  padding: 4px;
  max-width: 640px;
  margin: auto;
}

a {
  color: #666;
}

.intro,
.projects,
.articles {
  padding: 1rem 0;
}

.intro h1 {
  margin-bottom: 0;
}

.intro > img {
  float: left;
  padding-top: 1.5rem;
}

.intro .title {
  padding-left: 80px;
}

.projects h3 {
  display: inline;
}

.articles ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.articles ul > li {
  padding-bottom: 0.5rem;
}
